html {
  font-family: Helvetica, sans-serif, Arial;
}

body {
  max-width: 1200px;
  margin: 0;
  padding: 0;
}

.site {
  display: flex;
}

.side {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 230px;
  padding-left: 10px;
  background-color: #eee;
  font-size: 14px;
  line-height: 1.8;
}
.side .title {
  color: #525252;
  font-weight: bold;
  margin-top: 20px;
  text-transform: uppercase;
}
.side .links {
  padding-left: 10px;
}
.side a {
  display: block;
  color: black;
  text-decoration: none;
}
.side a:hover {
  text-decoration: underline;
}

.main {
  flex: 1;
  margin: 15px 0 15px 270px;
  padding: 0 15px;
}

.block {
  display: flex;
  flex-direction: column;
}

.block.margin {
  margin-top: 20px;
}

h1 {
  font-size: 30px;
  font-weight: 300;
}

h2 {
  font-size: 22px;
  line-height: 24px;
  margin: 25px 0 15px;
  padding-top: 20px;
  font-weight: 300;
}

.box {
  border: 1px solid #a1a8a8;
  padding: 5px;
}

.eval {
  background-color: #f8f8f8;
  padding: 10px;
}

.code {
  font-size: 14px;
}

pre {
  margin: 0 !important;
}
